$mobile-title-font-size: 22px;
$mobile-price-font-size: 18px;
$desk-title-font-size: 18px;
$desk-price-font-size: 16px;

$white: #fff;
$blue: blue;
$purple: purple;
$red: red;
$green: green;
$light: #eee;
